<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HeroSettings</key>
	<dict>
		<key>HeroImage</key>
		<string>hero</string>
		<key>BodyShape</key>
		<string>square</string>
		<key>MovingAtlasFile</key>
		<string>moving</string>
		<key>MovingFrames</key>
		<array>
			<string>moving001</string>
			<string>moving002</string>
			<string>moving003</string>
			<string>moving004</string>
			<string>moving003</string>
			<string>moving002</string>
		</array>
	</dict>
	<key>GameSettings</key>
	<dict>
		<key>UseTMXFile</key>
		<true/>
		<key>ShowPhysics</key>
		<false/>
		<key>ParallaxOffset</key>
		<string>{ 0.7,0.7 }</string>
	</dict>
	<key>LevelSettings</key>
	<array>
		<dict>
			<key>TMXFile</key>
			<string>Maze</string>
			<key>NextSKSFile</key>
			<string>GameScene2</string>
			<key>Speed</key>
			<integer>5</integer>
			<key>EnemySpeed</key>
			<integer>4</integer>
			<key>EnemyLogic</key>
			<integer>5</integer>
			<key>Background</key>
			<string>star_field</string>
		</dict>
		<dict>
			<key>TMXFile</key>
			<string>Maze</string>
			<key>NextSKSFile</key>
			<string>GameScene2</string>
			<key>Speed</key>
			<integer>5</integer>
			<key>EnemySpeed</key>
			<integer>4</integer>
			<key>EnemyLogic</key>
			<integer>5</integer>
			<key>Background</key>
			<string>star_field</string>
		</dict>
	</array>
</dict>
</plist>
